<div class="inner-banner">
  <img src="assets/images/inner-banner-projectengineering.jpg">
  <div class="page-title">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 center">
          <h1>Artificial Intelligence</h1>
          <h6>Creating Business Impact by enabling Advanced analytics and Intelligent Automation</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 div-center">
        <h6 class="center career">
          Today, most incumbent organizations across industries are grappling with the risks of digital disruption on
          one hand, even as they reach for its opportunities on the other. Most are responding by committing to the idea
          of digital transformation The winners in this race are going to be the ones who are able to achieve scale,
          recognize and respond to market disruptions, while also dealing with real-world constrictions.
        </h6>

        <p class="center">
          Our recent research on digital disruption shows that these organizations are powering this transformation with
          Artificial Intelligence (AI) and by leveraging Analytics, Machine Learning, Robotic Process Automation (RPA)
          and AI to transform themselves into a data driven intelligent enterprise.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="our-capability">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 center">
        <h2><span class="heading-highlight">Our Core </span> Capability</h2>
        <h5>Developing and implementing advanced AI-enabled automation</h5>
        <p class="running-text center mb-4">
          We bring together the catalytic forces of advanced machine learning and technology, along with subject matter
          expertise and executional capabilities, to progressively transform organizations and unlock enormous financial
          and business value.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="our-capability-key">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 col-md-6">

      </div>
      <div class="col-sm-12 col-lg-6 col-md-6">
        <ul class="info-bar">
          <li>
            <b>AI and automation consulting</b> across evaluation and AI maturity assessment, CoE setup, use case
            discovery, creating a business case and facilitating change management
          </li>
          <li>
            Delivering <b>value at scale</b> by setting up an automation ecosystem, bringing in operational excellence,
            RPA and chatbot factory models, to implementing use cases
          </li>
          <li>Custom <b>AI platform build </b>for clients to enable democratization of AI and scale adoption</li>
          <li>Bringing pre-built <b>cognitive solutions</b> like Image Detection, Sentiment Analysis, Image Analytics,
            Chatbot frameworks, a comprehensive HR solution and other apps to work for you</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 div-center a-b-p">
        <p class="center">
          <i class="icon icon-medium">
            <svg focusable="false">
              <use xlink:href="#icon_ds"></use>
            </svg>
          </i>
          Automation of business processes through technology, allowing businesses to optimize operations, reduce costs,
          and improve productivity.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="our-approch">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 center">
        <h2>OUR<span class="heading-highlight"> APPROACH</span></h2>
        <p>4-step technology agnostic approach to automation focuses on ensuring <br>
          metrics improvement, savings, and ROI.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row approch-steps">
          <div class="col col-lg-6 col-md-6 col-sm-12">
            <div class="panel">
              1. Identify Repetitive Tasks
              <ul class="info-bar">
                <li>Understand business workflow and identify repetitive tasks.</li>
                <li>Consult key stakeholders and actual process users</li>
              </ul>
            </div>
          </div>
          <div class="col col-lg-6 col-md-6 col-sm-12">
            <div class="panel">
              2. Define Business Goals
              <ul class="info-bar">
                <li>Define business goals using the current process as the benchmark.</li>
                <li>Target to improve the throughput, reduce cycle time and optimize resource utilization.</li>
              </ul>
            </div>
          </div>
          <div class="col col-lg-6 col-md-6 col-sm-12">
            <div class="panel">
              3. Develop Automation Solution
              <ul class="info-bar">
                <li>Choose the right software that is an ideal fit for the organization.</li>
                <li>Develop, test, and deploy the solution.</li>
              </ul>
            </div>
          </div>
          <div class="col col-lg-6 col-md-6 col-sm-12">
            <div class="panel">
              4. Feedback Loop
              <ul class="info-bar">
                <li>Continuous monitoring and measurement of automated workflow.</li>
                <li>Continuous assessment and upgradation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cutting-edge-sol">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 center">
        <h2><span class="heading-highlight">Niche Capabilities & </span> Cutting-Edge Solutions</h2>
        <p>ArkEdge’s Automation Suite has delivered significant impact to customers across all major <br>
          industries & geographies.</p>
      </div>
    </div>
  </div>

</section>

<section class="cutting-edge-sol-row">
  <div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12"></div>
         <div class="col-md-9 col-lg-9 col-sm-12">
           <ul class="info-bar">
             <li><span class="title-highlighter">Workflow Management:</span> End to end process execution just by one single click
               execution mechanism, reducing manual operations by 35-40%.</li>
             <li><span class="title-highlighter">DevOps: </span> 40 - 50% faster releases and deployments via our agile approach,
               maintaining consistency across multiple deployments and release cycles.</li>
             <li><span class="title-highlighter">Web Crawling Bots: </span>
               Our generic scrapping engine crawls multiple sources, leading to significant rise in data fill rate and
               model accuracy.</li>
             <li><span class="title-highlighter">Robotics Process Automation: </span>Automated labor-intensive and error-prone
               back tasks which are highly rule based in nature, achieving 15-20% time savings.</li>
           </ul>
         </div>
       </div>
     </div>
</section>

<section class="design-principal">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 center">
        <h2><span class="heading-highlight">Design</span> Principles</h2>
        <p>Artificial intelligence (AI) is capable of augmenting and automating decisions or tasks currently performed
          by humans, <br>
          which makes it an indispensable tool for digital business transformation. </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="panel">
          <h5>FUTURE PROOF DELIVERY</h5>
          <ul class="info-bar">
            <li>Technology independence: best-in-class via open source or industry platforms
            </li>
            <li>Agility across tech value chain: accelerated emerging tech adoption
            </li>
            <li>Flexible delivery model: Serverless, cloud or on-prem
            </li>
          </ul>
        </div>
      </div>
      <div class="col col-md-4 col-lg-4 col-sm-12 divider">
        <div class="panel">
          <h5>SCALABLE & RAPID DEPLOYMENT</h5>
          <ul class="info-bar">
            <li>Efficient development: Agile approach focused upon code reusability
            </li>
            <li>Plug-n-play design: Modularized components for easy utilization across use cases
            </li>
            <li>Pre-built connectors: Quick and seamless integration across systems and analytics solutions
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="panel">
          <h5>AI ENABLED & SECURE</h5>
          <ul class="info-bar">
            <li>Adaptive real time intelligence: AI models infused with real-time data
            </li>
            <li>Visualizations: Responsive user interface, supported by multiple devices
            </li>
            <li>Enterprise grade security: Credential vaults with audit trail for user management
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

    
<section class="automation-level">
  <div class="container">
    <div class="row">
    <div class="col-sm-12 center">
      <h2>Our Use Cases <span class="heading-highlight">with Automation Levels</span></h2>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <colgroup>
            <col style=width:30%;>
            <col style=width:70%;>
          </colgroup>
          <tbody>
            <tr *ngFor="let level of automationLevel; index as i">
              <td class="bg-{{ i + 1 }}">
               <div class="wrap-div">
                <div class="bullet-no">
                  {{ i + 1 }}.
                </div>
                <div class="list-no">
                  <h5> {{ level.title }}</h5>
                  <p>{{ level.despcription }}</p>
                </div>
               </div>
              </td>
              <td>
                <span class="bg-tringle bg-{{ i + 1 }}"></span>
                <ul class="info-bar">
                  <li *ngFor="let infokey of level.infokeys">
                    {{infokey.infokey}}
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="biz-process">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 div-center a-b-p">
        <p class="center">
         <span class="running-text">SCALE PROCESSES, NOT TASKS</span><br>
          SIMPLY EASIER
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 center">
        <h2>RPA TYPICAL <span class="heading-highlight">BUSINESS PROCESSES</span></h2>
        <p>RPA can learn from people, eventually taking over the processes that humans once completed, at a<br> much faster pace.</p>
      </div>
   </div>
   <div class="row">
    <div *ngFor="let item of bizProcess; index as i" class="col-lg-4 col-md-4 col-sm-12">
      <div class="panel">
          <div class="panel-heading">
              <div class="icon-circle color_{{i + 1}}">
                  <i class="icon icon-medium">
                      <svg focusable="false">
                          <use attr.xlink:href="{{item.icon}}"></use>
                      </svg>
                  </i>
              </div>
              <h5 class="center">{{item.title}}</h5>
          </div>
          <div class="panel-body">
              <p class="center">{{item.description}}</p>
          </div>
      </div>
  </div>
   </div>
  </div>
</section>

<section class="p-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 center">
        <h2>Our experience <span class="heading-highlight">with enterprise automation</span></h2>
        <p>
          To unlock this new intelligence, organizations must embrace a different approach and focus on automation across  domains—business operations, enterprise IT operations and application engineering—to avoid implementation failure through one-size-fits-all planning.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="main-tabber-nav">
    <a href="javascript:void(0)" (click)="onClick(1)" [ngClass]="{'active': tab==='tab1'}">BY FUNCTION</a>
    <a href="javascript:void(0)" (click)="onClick(2)" [ngClass]="{'active': tab==='tab2'}">BY INDUSTRY</a>
  </div>
</section>

<section class="section-ai inner-nav-tab" [ngClass]="{'active': tab==='tab1'}">  
<div class="tab-navigation">
    <div class="col-sm-12">
      <div class="container">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_Functionfinace"></use>
                </svg>
              </i>
              Finance and Accounting</a>
            <ng-template ngbNavContent>

              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of finance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionit"></use>
                </svg>
              </i>
              Information Technology</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of it" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionsales"></use>
                </svg>
              </i>
              Sales & Marketing</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of sm" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionoperation"></use>
                </svg>
              </i>
              Operations</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of operation" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <li [ngbNavItem]="5">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionsc"></use>
                </svg>
              </i>
              Supply Chain</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of sc" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>

          <li [ngbNavItem]="6">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_Functionadmin"></use>
                </svg>
              </i>
              Administrative</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of admin" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>

          <!-- <li [ngbNavItem]="7">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_Functioncenter"></use>
                </svg>
              </i>
              Contact Center</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of cc" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li> -->

          <li [ngbNavItem]="8">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_Functioncs"></use>
                </svg>
              </i>
              Customer Success</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of cs" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>

          <li [ngbNavItem]="9">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionhr"></use>
                </svg>
              </i>
              Human Resources</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of hr" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>

          <!-- <li [ngbNavItem]="10">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_Functionlegal"></use>
                </svg>
              </i>
              Vendor Management, Compliance and Legal</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of vmcl" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel tab-data"> 
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div [ngbNavOutlet]="nav" class="mt-4"></div>
</section>

<section class="section-ai inner-nav-tab" [ngClass]="{'active': tab==='tab2'}">  
<div class="tab-navigation">
    <div class="col-sm-12">
      <div class="container">
        <ul ngbNav #navIn="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionbank"></use>
                </svg>
              </i>
              Banking & Financial</a>
            <ng-template ngbNavContent>

              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of bfs" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionhealth"></use>
                </svg>
              </i>
              Healthcare & Pharma</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of hp" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <!-- <li [ngbNavItem]="3">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionlogistic"></use>
                </svg>
              </i>
              Transportation & Logistics</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of tl" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li> -->
          <li [ngbNavItem]="4">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionmanufactring"></use>
                </svg>
              </i>
              Manufacturing</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of mfg" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <li [ngbNavItem]="5">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functioninsurance"></use>
                </svg>
              </i>
              Insurance</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of insurance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>

          <li [ngbNavItem]="6">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functiongov"></use>
                </svg>
              </i>
              Government</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of government" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>

          <li [ngbNavItem]="7">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionoutsourcing"></use>
                </svg>
              </i>
              Outsourcing</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of outsourcing" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>

          <li [ngbNavItem]="8">
            <a ngbNavLink>
              <i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionretail"></use>
                </svg>
              </i>
              Retail</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of retail" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>

          <li [ngbNavItem]="9">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionenergy"></use>
                </svg>
              </i>
              Energy and Utilities</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of eu" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>

          <li [ngbNavItem]="10">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functiontelecom"></use>
                </svg>
              </i>
              Telecom</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of telecom" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <li [ngbNavItem]="11">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionedu"></use>
                </svg>
              </i>
              Education</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of education" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <li [ngbNavItem]="12">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionindustry"></use>
                </svg>
              </i>
              Travel and Hospitality</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of th" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <li [ngbNavItem]="13">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionoutrealestate"></use>
                </svg>
              </i>
              Real Estate</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of re" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <!-- <li [ngbNavItem]="14">
            <a ngbNavLink><i class="icon icon-ex-small center">
                <svg focusable="false">
                  <use xlink:href="#icon_functionfood"></use>
                </svg>
              </i>
              Food and Beverage</a>
            <ng-template ngbNavContent>
              <section>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let item of fb" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                      <div class="panel">
                        <div class="panel-heading">
                          <h5>{{item.title}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div [ngbNavOutlet]="navIn" class="mt-4"></div>
</section>