ul{
    li{
        a{
            padding:15px;
            margin-bottom:15px;
            background:#e5e5e5;
            color:#333333;
            display:block;
            &.active{
                background:#214f7a;
                color:#fff;
            }
          }
    }
}


ul.info-bar{
    margin-left: 5px;
    align-self: center;
    li{
        padding: 0 0 10px 20px;
        list-style: none outside;
        font-size: 16px;
        position: relative;
        font-weight: bold;
        &::before{
            content: " ";
            background: #214f7a;
            font-weight: bold;
            position:absolute;
            top:8px;
            left:0px;
            width: 10px;
            height:10px;
            border-radius: 50%;
            margin-right: 10px;
        }
        p{
            font-weight: normal;
        }
    }
    &.obtain-visibility{
        margin-left:50px;
    }
}

.tech-key-diff{
    .info-panel{
        padding:50px 15px;  
    }
    .img-panel{
      margin-right:-15px;
      height: 100%;
      img{
        height: calc(100%);
      }
    }
    padding:0;
    &._2{
        background-color: #f9f9f9;
        .img-panel{
            margin-right:0;
            margin-left:-15px;
        }  
    }
}

section{
    &:nth-child(3){
        background:#e5f0fa;
        ul{
            margin-left:20px;
            li{
                font-size:18px;
                list-style-type: disc;
                margin-top:15px;
               
            }
        }
    }
}

.o-t-l{
    background: #e5f0fa;
    h1{
        margin-bottom:15px;
    }
}

.o-d-p{
    .panel{
        border: 1px solid rgba(224, 224, 224, 1);
        margin-bottom:20px;
        border-radius: 5px;
        overflow: hidden;
        .panel-heading{
            background-color: rgba(249, 249, 249, 1);
            padding:20px;
            color:#214f7a;
            font-size: 18px;
            font-weight: bold;
            svg{
                fill:#214f7a;
            }
            i{
                margin-right:15px;
            }
        }
        .panel-body{
            padding:15px;  
            ul{
                &.info-bar{
               li{
                font-weight: normal;
                padding-bottom: 5px;
                &::before{
                    height: 7px;
                    width:7px;
                }
               }
                }
            }
        }
    }
}