<div class="inner-banner">
    <img src="assets/images/inner-banner-advance-solution.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>Advance solutions</h1>
                    <h6>Technical solution for all industries</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-advance-solution">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-md-9 col-sm-12 div-center center">
                <p class="running-text">
                    ARKEDGE technologies approaches each business as an individual so
                    that we can provide you with IT solutions that suit your needs.
                    We offer holistic solutions, consisting of different offerings.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 div-center">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2>Merchant Matching Model</h2>
                        <p>
                            A leading payment network to build rich merchant matching model algorithm to refresh various entity attributes capture through discrete sources. It utilizes huge set of entities (more than 5 million), design with scalable data refresh pipeline to load entity datasets and bulk update indexes to accurately search when the new data ingested to system.
                            <br><br>
                            The system utilizes AI powered searching algorithm to do combination of exact matching, fuzzy matching and semantic matching to provide suited ranked result set to the service consumer. System provides a real time search when the repository gets refreshed and updated with the new indexes and provide multi-lingual support to search localized text. 
                        </p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="assets/images/advancesoluton/advance-solution-1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">

        <div class="col-lg-12 div-center">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="assets/images/advancesoluton/advance-solution-2.png">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Staff Scheduling & Optimization</h2>
                    <p>
                        An advanced solution for healthcare providers that can be curated for various industry and reduce their cost for staffing management and optimization. The solution is built on top of some of the cutting-edge analytics model and allow business users to do demand forecasting, intelligent scheduling and optimal staffing for their departments.
                        <br><br>
                        The system offers a modern user interface which includes core modules such as scheduling manager, calendar view for monthly staffing assignment and detailed intelligent insight reports to indicate slackness in scheduling of current allotment in staffing. It provides compliance monitoring by stating differences with actual schedules and available measures for cost saving impact. 
                    </p>

                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 div-center">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2>CMS for Document Publishing</h2>
                        <p>
                            A content management system for a global enterprise organization to manage all various brochures and product artifacts published for their businesses. It provides the complete end-to-end documentation lifecycle, starting from document creation, additional review cycles from various stakeholders, proof-reading and then finally publish onto their content delivery network system where it can be distributed and downloaded by business users.
                            <br><br>
                            Content management system offers complete version controlling system where author can draft first version, and thereafter keep a version control for every review change from various contributors at various hierarchy and then put for the final approver before publishing into document repository.
                        </p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="assets/images/advancesoluton/advance-solution-1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row info">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h6>Enterprise Solution</h6>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            <i class="icon icon-large">
                                <svg focusable="false">
                                    <use xlink:href="#icon_EnterpriseSol"></use>
                                </svg>
                            </i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h6>Intelligent Process Automation</h6>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            <i class="icon icon-large">
                                <svg focusable="false">
                                    <use xlink:href="#icon_Idea"></use>
                                </svg>
                            </i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>