<div class="inner-banner">
    <img src="assets/images/inner-banner-ourproduct.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>Our Products</h1>
                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 div-center">
                <h6 class="center career">
                    ARKEDGE is a rapidly growing professionally managed organization with competent and qualified brass at the helm of the affairs. The organization is making its presence felt on the engineering solution and services, Staffing and IT training circuit. Equipped with cross cultural operating experience; an asset, it drives the organization to deliver nothing but the best.
                </h6>
            </div>
        </div>
    </div>
</section>

<section class="section-product-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Revenue Maximizer</h2>
                <p>
                    Cloud based SaaS platform that enables healthcare organization to maximize their revenue potential by finding anomalies in billing charges with right amalgamation of advanced AI models and traditional rule-based engine. Some of the salient features of platform:
                </p>
                <ul>
                    <li>
                        Flexible package offerings to design right plan for your organization
                    </li>
                    <li>
                        Rich & extensible feature capability through configuration
                    </li>
                    <li>
                        Powerful & Responsive Web UI design to access insights from anywhere
                    </li>
                    <li>
                        Cloud enabled multi-tenancy support to keep your data secure
                    </li>
                    <li>
                        Feature at scale with containerized microservices architecture 
                    </li>
                </ul>
               
                <a class="btn btn-warning mr-3" (click)="getUrl(1, 'RevenueMaximizer');">View Details</a>
                <button type="submit" class="btn btn-primary" (click)="inquery();">Ask an Expert</button>
             

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="assets/images/products/revenuemaximizer_big.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="assets/images/products/studioedge_big.png">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Studio Edge</h2>
                <p>
                    End to end Big Data Analytics platform designed to ingest huge data volume comprising varying format including structure, semi-structure and unstructured datasets and transform them into meaningful and predictive insights using industry curated advanced AI models. It offers powerful product modules for developer, administrator and business users to build solution for your organization needs:
                </p>
                <ul>
                    <li>
                       <b> StudioW</b> with rich IDE capability for developers to build end to end AI-ML based solution using historical data or real-time data streams
                    </li>
                    <li>
                       <b>StudioM</b> for supervisor and administrator to completely manage and control of solutions deployed with version control capability
                    </li>
                    <li>
                        <b>StudioK</b> for business user to build powerful reporting dashboard using analytical insights generated for the solutions
                    </li>
                </ul>
                <a class="btn btn-warning mr-3" (click)="getUrl(2, 'StudioEdge');">View Details</a>
                <button type="submit" class="btn btn-primary" (click)="inquery();">Ask an Expert</button>
                </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Data Flow</h2>
                <p>
                    Powerful cloud-based solution for creating the data pipeline, setting and managing data transformation at various stages and automating the entire ETL workflow end to end through a modern web-based user interface. Some of the key feature of the product:
                </p>
                <ul>
                    <li>
                        Rich set of connectors to ingest and work on data from sources
                    </li>
                    <li>
                        Configurable feature options to build custom data pipeline
                    </li>
                    <li>
                        Offers flexible AI capability to turn on ML models as per need
                    </li>
                </ul>
                <a class="btn btn-warning mr-3" (click)="getUrl(3, 'DataFlow');">View Details</a>
                <button type="submit" class="btn btn-primary" (click)="inquery();">Ask an Expert</button>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="assets/images/products/dataflow_big.png">
            </div>
        </div>
    </div>
</section>

<!-- <section class="section-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1>Product Features</h1>
                <h6>Transforming industries with smarter ways</h6>
            </div>
            <div class="col-sm-12">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let product of products; index as i" class="slide">
                        <img src="assets/images/0{{i+1}}.png" alt="" width="100%">
                        <p class="col-sm-12 center">{{product.title}}</p>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section> -->